:root {
    --color-dark: rgb(35, 35, 35);
    --color-medium: grey;
    --color-light: lightgrey;
    --color-extra-light: rgb(235, 235, 235);
    --color-default: rgb(76, 50, 146);
    /* --color-default: rgb(35, 35, 35); */
    --color-accent: rgb(199, 194, 247);
    --margin-extra-small: calc(1.375vh + 0.25vmin);
    --margin-small: calc(2.75vh + 0.25vmin);
    --margin-medium: calc(5.5vh + 0.25vmin);
    --margin-large: calc(11vh + 0.25vmin);
}

html {
    scroll-behavior: smooth;
    text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: calc(2.25vh + 0.25vmin);
    color: var(--color-dark);
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: calc(1.85vh + 0.25vmin);
}

a {
    text-decoration: none;
    color: var(--color-dark);
}

i {
    font-size: calc(3.85vh + 0.25vmin);
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color-default);
    color: var(--color-extra-light);
}

#header div {
    margin-top: 16px;
    margin-right: var(--margin-medium);
    width: 100%;
    text-align: right;
}

#header div a {
    color: var(--color-extra-light);
    transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    -webkit-transition: color 0.5s;
}

#header div a:hover {
    color: var(--color-accent);
}

#header h1 {
    margin: 0;
    padding: var(--margin-medium);
    text-shadow: 0px calc(0.75vh - 0.25vmin) calc(0.75vh - 0.25vmin) var(--color-dark);
}

nav {
    display: flex;
    justify-content: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: var(--color-default);
    box-sizing: border-box;
    text-shadow: 0px calc(0.75vh - 0.25vmin) calc(0.75vh - 0.25vmin) var(--color-dark);
    box-shadow: 0px calc(0.75vh - 0.25vmin) calc(0.75vh - 0.25vmin) var(--color-dark);
    transition: top 0.5s;
    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -o-transition: top 0.5s;
    overflow: scroll;
    /* -ms-overflow-style: none; */
    scrollbar-width: none;
    z-index: 100;
}

nav::-webkit-scrollbar {
    display: none;
}

nav div {
    display: flex;
    flex-direction: row;
    width: max-content;
}

nav div a {
    position: relative;
    padding: var(--margin-small);
    color: var(--color-extra-light);
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
}

nav div a:hover {
    color: var(--color-accent);
}

.border-bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: calc(0.5vh + 0.25vmin);
    width: 0%;
    background-color: var(--color-accent);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -o-transition: width 0.5s;
}

section {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#section-1 {
    /* background-position: center; */
    background-image: url(../../images/online-store-frontend-img-2.png);
}

#section-2 {
    /* background-position: center; */
    background-image: url(../../images/online-store-backend-img.png);
}

#section-3 {
    /* background-position: left; */
    background-image: url(../../images/butterfly-2049567_1920.jpg);
}

#section-4 {
    /* background-position: right; */
    background-image: url(../../images/away-4059472_1920.jpg);
}

#section-5 {
    /* background-position: left; */
    background-image: url(../../images/butterfly-2049567_1920.jpg);
}

section h1 {
    box-sizing: border-box;
    margin: 0;
    padding: var(--margin-small);
    background-color: var(--color-light);
}

section .section-window {
    width: auto;
    min-height: 0.1vh;
    background-color: rgba(35, 35, 35, 0.2);
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    cursor: pointer;
}

section .section-window:hover {
    background-color: transparent;
}

section .section-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: auto;
    background-color: var(--color-extra-light);
}

section .section-content .section-nav {
    color: var(--color-default);
}

section .section-content .section-nav button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: var(--margin-small);
    border: none;
    outline: none;
    color: var(--color-default);
    cursor: pointer;
    background-color: transparent;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
}

section .section-content .section-nav button:hover {
    color: var(--color-accent);
}

section .section-content .hiddable-content {
    position: relative;
}

section .section-content .section-introduction,
section .section-content .section-details {
    margin: var(--margin-small);
}

.section .section-content .section-details {
    position: absolute;
    top: 0;
    visibility: hidden;
}

section .section-content .content-links {
    display: flex;
    flex-direction: row;
    margin: var(--margin-small);
}

section .section-content .content-links a:first-of-type {
    margin: 0 var(--margin-extra-small) 0 0;
}

section .section-content .content-links a {
    position: relative;
    margin: 0 var(--margin-extra-small);
    color: var(--color-dark);
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
}

section .section-content .content-links a:hover {
    color: var(--color-accent);
}

section .section-content .content-links a:hover::after {
    content: attr(data);
    position: absolute;
    top: -8px;
    left: 0;
    display: block;
    width: max-content;
    padding: 4px 8px;
    background-color: var(--color-default);
    color: var(--color-extra-light);
    border-radius: 4px;
    box-shadow: 0 1px 2px var(--color-dark);
    font-size: calc(1.85vh + 0.25vmin);
    transform: translate(0, -100%);
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
}

section .section-content .content-links a:last-of-type {
    margin: 0 0 0 var(--margin-extra-small);
}

#footer h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: var(--margin-medium);
    background-color: var(--color-default);
    color: var(--color-extra-light);
    text-shadow: 0px calc(0.75vh - 0.25vmin) calc(0.75vh - 0.25vmin) var(--color-dark);
}

#image-viewer {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--color-extra-light);
    background-color: rgba(35, 35, 35, 0.7);
    z-index: 1000;
}

#image-viewer img {
    width: 60%;
    height: auto;
}

.flex-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: right;
}

.push-right {
    padding-left: calc(50% + var(--margin-small));
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-float {
    clear: both;
}